azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Send-to-Commercial",
            "type":  "string"
        },
        "secret":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for secret"
            }
        }
    },
    "variables":  {
        "MicrosoftSentinelConnectionName":  "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        },
                        "secret":  {
                            "defaultValue":  "[parameters('secret')]",
                            "type":  "string"
                        }
                    },
                    "triggers":  {
                        "Microsoft_Sentinel_incident":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "body":  {
                                    "callback_url":  "@{listCallbackUrl()}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path":  "/incident-creation"
                            }
                        }
                    },
                    "actions":  {
                        "Condition":  {
                            "actions":  {
                                "Add_comment_to_incident_(V3)":  {
                                    "runAfter":  {
                                        "HTTP_2":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "body":  {
                                            "incidentArmId":  "@triggerBody()?['object']?['id']",
                                            "message":  "\u003cp\u003eComIncident:@{body('Parse_JSON')?['id']}\u003c/p\u003e"
                                        },
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method":  "post",
                                        "path":  "/Incidents/Comment"
                                    }
                                },
                                "HTTP_2":  {
                                    "runAfter":  {
                                        "Parse_JSON":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "authentication":  {
                                            "audience":  "https://management.azure.com",
                                            "authority":  "https://login.microsoftonline.com",
                                            "clientId":  "27c7c05f-4314-49da-97df-82bfdf00b1bf",
                                            "secret":  "@parameters('secret')",
                                            "tenant":  "c2c301f2-7a80-4241-a111-42fcb0cdda05",
                                            "type":  "ActiveDirectoryOAuth"
                                        },
                                        "body":  {
                                            "properties":  {
                                                "message":  "GovID: @{body('Parse_JSON')?['id']}"
                                            }
                                        },
                                        "method":  "PUT",
                                        "uri":  "https://management.azure.com/subscriptions/73f35fe7-5cca-453f-9ac5-e705e1b2f421/resourceGroups/rg-sentinelab/providers/Microsoft.OperationalInsights/workspaces/sentinellabws/providers/Microsoft.SecurityInsights/incidents/@{body('Parse_JSON')?['name']}/comments/@{guid()}?api-version=2021-10-01"
                                    }
                                },
                                "Parse_JSON":  {
                                    "runAfter":  {
                                    },
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@body('HTTP')",
                                        "schema":  {
                                            "properties":  {
                                                "etag":  {
                                                    "type":  "string"
                                                },
                                                "id":  {
                                                    "type":  "string"
                                                },
                                                "name":  {
                                                    "type":  "string"
                                                },
                                                "properties":  {
                                                    "properties":  {
                                                        "additionalData":  {
                                                            "properties":  {
                                                                "alertProductNames":  {
                                                                    "type":  "array"
                                                                },
                                                                "alertsCount":  {
                                                                    "type":  "integer"
                                                                },
                                                                "bookmarksCount":  {
                                                                    "type":  "integer"
                                                                },
                                                                "commentsCount":  {
                                                                    "type":  "integer"
                                                                },
                                                                "tactics":  {
                                                                    "type":  "array"
                                                                }
                                                            },
                                                            "type":  "object"
                                                        },
                                                        "createdTimeUtc":  {
                                                            "type":  "string"
                                                        },
                                                        "description":  {
                                                            "type":  "string"
                                                        },
                                                        "incidentNumber":  {
                                                            "type":  "integer"
                                                        },
                                                        "incidentUrl":  {
                                                            "type":  "string"
                                                        },
                                                        "labels":  {
                                                            "type":  "array"
                                                        },
                                                        "lastModifiedTimeUtc":  {
                                                            "type":  "string"
                                                        },
                                                        "owner":  {
                                                            "properties":  {
                                                                "assignedTo":  {
                                                                },
                                                                "email":  {
                                                                },
                                                                "objectId":  {
                                                                },
                                                                "userPrincipalName":  {
                                                                }
                                                            },
                                                            "type":  "object"
                                                        },
                                                        "relatedAnalyticRuleIds":  {
                                                            "type":  "array"
                                                        },
                                                        "severity":  {
                                                            "type":  "string"
                                                        },
                                                        "status":  {
                                                            "type":  "string"
                                                        },
                                                        "title":  {
                                                            "type":  "string"
                                                        }
                                                    },
                                                    "type":  "object"
                                                },
                                                "type":  {
                                                    "type":  "string"
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    }
                                }
                            },
                            "runAfter":  {
                                "HTTP":  [
                                    "Succeeded"
                                ]
                            },
                            "expression":  {
                                "and":  [
                                    {
                                        "equals":  [
                                            "@outputs('HTTP')['statusCode']",
                                            201
                                        ]
                                    }
                                ]
                            },
                            "type":  "If"
                        },
                        "HTTP":  {
                            "runAfter":  {
                            },
                            "type":  "Http",
                            "inputs":  {
                                "authentication":  {
                                    "audience":  "https://management.azure.com",
                                    "authority":  "https://login.microsoftonline.com",
                                    "clientId":  "27c7c05f-4314-49da-97df-82bfdf00b1bf",
                                    "secret":  "@parameters('secret')",
                                    "tenant":  "c2c301f2-7a80-4241-a111-42fcb0cdda05",
                                    "type":  "ActiveDirectoryOAuth"
                                },
                                "body":  {
                                    "properties":  {
                                        "description":  "@{triggerBody()?['object']?['properties']?['description']}",
                                        "severity":  "@{triggerBody()?['object']?['properties']?['severity']}",
                                        "status":  "@{triggerBody()?['object']?['properties']?['status']}",
                                        "title":  "Gov - @{triggerBody()?['object']?['properties']?['title']}"
                                    }
                                },
                                "method":  "PUT",
                                "uri":  "https://management.azure.com/subscriptions/73f35fe7-5cca-453f-9ac5-e705e1b2f421/resourceGroups/rg-sentinelab/providers/Microsoft.OperationalInsights/workspaces/sentinellabws/providers/Microsoft.SecurityInsights/incidents/@{guid()}?api-version=2021-10-01"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azuresentinel":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftSentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftSentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        }
    ]
}
